.banner{
    width: 100%;
    height: 710px;
    background: #F98B56;
    flex-direction: row;
    background-image: url('world.png');
}
.card{
  border: none;
}

.containerBox{
  padding-left: 150px;
  padding-right: 150px;
}
.topdestination{
  display: flex;
  justify-content: space-between;
}
.topdestination1{
  padding-left: 20px;
}
span{
    position: absolute;
    margin-left: 5px;
    height: 25px;
    display: flex;
    align-items: center;
  }

  input{
    padding-left: 25px;
    height: 20px;
  }

  .topdest{
    border-left: 4px solid #F7762A;
    height: 94px;
}

.lookcity{
height: 151px;
border-left: 4px solid #F7762A;
}

.activities,.holidays,.travelstories,.partners{
    height: 80px;
    border-left: 4px solid #F7762A;
}

.footer{
  width: 100%;
  height: 444px;

}
.about{
  height: 336px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.75);
}




.footerHeading{
  font-weight: 700;
  font-size: 18px;
}
.footerLink{
  font-weight: 500;
  font-size: 20px;
  color: #898989;
}

.abouttravel{
  width: 147px;
  border-bottom: 2px solid #F7762A;

}
.makingthings{
  width: 147px;
  border-bottom: 2px solid #F7762A;
  
}
.findUs{
  width: 51px;
  border-bottom: 2px solid #F7762A;

}
.footerDivider{
  border: 1px solid #F7762A;

}
.copyright{
font-size: 18px;
font-style: normal;
font-weight: 700;
}
.gotoTop{
  height: 28px;
  width: 28px;
  background: #F7762A;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);


}
.cardTitle{
font-size: 18px;
font-weight: 400;


}

/* .achievementBox1{
  display: flex;

}
.achievementBox2{
  display: flex;
  justify-content: ;

} */

.col1{

}
.card{
  margin-bottom: 0px !important;
}
.card-columns {
  column-gap: 0.25rem;
}
.viewAllBtn{

  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
border: none;  
  
  color: #FFFFFF;
  
width: 135px;
height: 37px;
background: #F98B56;
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
.col1{
  width: 33.33%;
  text-align: left;
}
.fa-search{
    position: absolute;
    top: 13px;
    z-index: 1;
    font-size: 20px;
    color: #A1A1A1;
    left: 67%;
}


 @media  (max-width: 457px) {
 
  .containerBox{
    padding: 0px;
  }
  .travelContent1,.travelContent2,.travelContent3{
  
    flex-direction: column;
    width: 100%;
  }

  .travelContentImg1{
    width: 100%;
  }
  .containerBox{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
} 


@media  (max-width: 600px) {
  .footerMobile {
    display: flex;
 margin-left: 25%;
 margin-right: 12.5%;

flex-direction: column;
width: 100%;
}
.inputBox,.resultBox{
  width: 100%;
}

.travelContent1,.travelContent2,.travelContent3{
  width: 100%;
}
.video{
  width: 100%;
}

.col1{
  width: 100%;
  
}
.footer{
  height: 1000px;
}
.about{
  height: 700px;
}
.topdestContent{
  flex-direction: column;
}
.look{
  flex-direction: column;
}
.containerBox{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

}

@media (max-width:1000px){

.travel{
  flex-direction: column;

}
.containerBox{
  padding-left: 150px !important;
  padding-right: 150px !important;
}
.topdestination{
  flex-direction: column;
}
.topdestination1{
  padding-left: 0px !important;
  flex-direction: column;


}

.travelExperience{
  width: 50%;
}

.destinations{
  width: 50% !important;
}
.guaranteed{
  width: 50%;
}
.customers{
  width: 50%;
}


body{
  overflow-x: hidden;
}
.topdestination2{
  flex-direction: column;
  margin-top: 0px;
}
.topdestination3{
  padding-left: 0px !important;

}
.topdestImg1,.topdestImg2,.topdestImg3,.topdestImg4,.lookforCityImg1,.lookforCityImg2,.lookforCityImg3{
  height: 250px;
  width: 100%;

}
.lookforCity{
flex-direction: column;
}

}
@media (max-width:730px){

  .containerBox{
    padding-left: 0px !important;
    padding-right: 0px !important;

  }
}

@media(min-width:1001px) and (max-width:1200px){
  .containerBox{
    padding-left: 0px !important;
    padding-right: 0px !important;

  }
  body{
    overflow-x: hidden
  }
}